.App {
  text-align: center;
}

.App-header {
  background: #171717;
  min-height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-header h3{
  color: #ffce00;
  font-size: 28px;
  text-transform: uppercase;
  font-weight: 900;
}

.App-header h3 span{
  color: #f3f3f3;
  font-weight: 300;
}

.time-view{
  background: #888;
  padding: 15px;
}

.time-view .time{
  color: #f3f3f3;
  font-size: 32px;
  font-weight: 700;
  text-shadow: 3px 3px 8px rgba(0,0,0,0.25);
}

button{
  width: 100%;
  padding: 15px;
  border: none;
  outline: none;
  border-bottom: 1px dashed #aaa;
}

button.start{
  background-color: #ffce00;
}

button.lap{
  background-color: #00ffce;
}

button.pause{
  background-color: #0085ca;
}

button.stop{
  background-color: #af1e20
}

button:disabled{
  background-color: #eee;
  color: #aaa;
}

.lap{
  padding: 15px;
  border-bottom: 1px dashed #ccc;
}